* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
}

nav { 
    width: 100%;
    height: 90px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 70px;
    box-shadow: -6px 11px 11px 8px rgba(110,114,113,0.79);
    }

nav img {  
  width: 150px;
}

.container-logo { 
        width: 150px;
    }

    .container-logo img {
        width: 100%;
    }

    nav> .container-menu { 
        display: flex;
        list-style: none;
    }

    nav> .container-menu > li {
        margin: 0 15px; 
    }

    nav .container-menu > li > a { 
        color: #111;
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
        padding: 8px 10px;
        border-radius: 5px;
        transition: 200ms ease-in-out;
    }

    nav .container-menu > li > a:hover { 
        background-color: #111;
        color: #fff;
    }

    nav .menu-btn i{
      font-size: 30px;
      cursor: pointer;
      display: none;
      color: #000;
    }

    .container-main-banner { 
        width: 100%;
        height: 700px; 
        background-repeat: no-repeat;
        background-image: url(hero_l_pc.webp);
        background-size: cover;
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .container-main-banner h1 { 
        color: #fff;
        font-size: 50px; 
    }

    .container-main-banner span { 
      color: #fff;
        font-size: 80px; 
        font-weight: 600; 
    }

.container-history { 
    width: 100%;
    height: auto;
    padding: 0 100px;
    margin-top: 100px;
    text-align: center;
}    

.container-history >h3 { 
    color: #d33546;
    font-size: 40px;
}

.container-history > p { 
    margin-top: 20px;
    font-size: 20px;
    color: #1c1c1c;
}

.global-characters { 
    width: 100%;
    height: auto;
    margin-top: 50px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-characters { 
    width: 22%;
    height: auto;
    box-shadow: 5px 5px 5px 2px rgba(187, 199, 196, 0.79);
    border-radius: 20px;
    padding: 10px; 
    transition: 250ms ease-in-out;
}

.container-characters:hover { 
    transform: scale(1.05);
    box-shadow: -6px 11px 11px 8px rgba(110,114,113,0.79);
}

.card-image { 
    margin: auto;
}

.card-image > img { 
    width: 100%;
    border-radius: 20px 20px 20px 20px;
}

.card-information >h4 { 
    font-size: 20px;
    color: #d33546; 
}

.card-information >p { 
    font-size: 16px;
    text-align: justify;
}

.card-information > a { 
    width: 60%;
    font-size: 14px;
    padding: 10px 15px;
    margin-top: 17px;
    outline: none;
    display: block;
    border-radius: 20px;
    text-decoration: none;
    color: #d33546;
    border: 1px solid #d33546;
    text-align: center;
    font-weight: 600;
    background-image: linear-gradient(50deg, #D33546 50%, transparent 50%);
    background-position: 100%;
    background-size: 250%;
    transition: background 0.4s ease-in-out;
}

.card-information a{
  color: #D33546;
  text-decoration: none;
  font-weight: 500;
}

.card-information >a:hover, .card-information a:hover { 
    background-position: 0;
    color: #fff;
}

.container-best-games { 
    width: 100%;
    margin-top: 80px;
}

.container-best-games > h4 { 
    color: #d33546;
    text-align: center;
    font-size: 40px;
}

.container-card-games { 
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    margin-top: 40PX;
}

.cards-container-games { 
    width: 30%
}

.cards-container-games > img { 
    width: 100%;
    border-radius: 10px;
    height: 300px;
    object-fit: cover;
    }

.cards-container-games > h5 { 
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    color: #111;
  }

.card-games-button { 
  text-align: center;
  margin-top: 50px;
}

.card-games-button > a { 
    font-size: 18px;
    padding: 15px 40px;
    border: 0;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    background-color: #d33546;
    font-weight: bold;
    display: block;
    transition: 250ms ease-in-out;
    width: 15%;
    margin: auto;
}

.card-games-button > a:hover { 
    transform: scale(0.9);
  }

footer { 
  margin-top: 80px;
  height: auto;
  }

footer > div { 
    color: #d33546;
    font-size: 20px;
}

.navigator-footer { 
    margin-top: 40px; 
    box-shadow: none;
    padding: 0;
  }

.navigator-footer > ul { 
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

    .navigator-footer > ul > li { 
        margin: 0 20px;
        list-style: none;
        font-size: 17px;
        font-weight: 500;
        transition: 250ms ease-in-out; 
    }

    .navigator-footer > ul > li > a { 
        color: #111;
        text-decoration: none;
    }

    .navigator-footer > ul > li:hover { 
        margin-top: -4px;
    }
    

@media (max-width: 1024px){
  nav{
      height: 90px;
      padding: 0 30px;
  }
 nav img{
  width: 200px;
 }

  nav .container-menu{
      position: fixed;
      top: 80px;
      left: 0;
      background-color: #111;
      height: 100vh;
      width: 100%;
      display: none;
      text-align: center;
  }

  nav .container-menu li{
      margin: 80px 0;
  }

  nav .container-menu li a{
      font-size: 25px;
      display: none;
      color: #fff;
  }

  nav .container-menu li a:hover{
      background-color: none;
  }

  
  .container-main-banner{
      height: 400px;
  }

  .container-main-banner h1{
  font-size: 40px;
  }


  .container-main-banner span{
  font-size: 60px;
  font-weight: 600;
  }

  .container-history{
      margin-top: 20px;
      padding: 0 60px;
  }

  .container-history h3{
      font-size: 35px;
  }

  .container-history p{
      font-size: 18px;
  }

  .container-characters{
      width: 46%;
     margin-top: 30px;
     padding-bottom: 20px;
  }

  .card-image{
      width: 100%;
  }

  .container-best-games h4{
      font-size: 35px;
  }

  .card-container-game{
      width: 45%;
      margin-bottom: 40px;
  }

  .card-games-button{
      margin-top: 0;
  }

  .card-games-button a{
      font-size: 16px;
  }

}



@media (max-width: 640px){
   
  .container-main-banner{
      height: 300px;
  }

  .container-main-banner h1{
  font-size: 25px;
  }


  .container-main-banner span{
  font-size: 35px;
  font-weight: 600;
  }

  .container-history{
      padding: 0 5px;
  }

  .container-history h3{
      font-size: 30px;
  }

  .container-history p{
      font-size: 18px;
  }

  .container-characters{
       width: 86%;
     margin-top: 30px;
     padding-bottom: 20px;
  }

  .card-container-game{
      width: 86%;
      margin-bottom: 40px;
  }

  footer nav .container-social-media li{
      margin-bottom: 20px;
  }
}
